<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h3>Paradise on Earth, Our little Goa.</h3>
                <h1>Slaaysourcecoders brings you the best of Goan talent</h1>
                <h5>We will be conducting interviews of people from all over Goa and beyond.</h5>
                <h5>From the field of IT to sports, teachers to students showcasing talent in Goa.</h5>				
            </div>
            <div class="col-lg-8 col-lg-offset-2 himg">
                <img src="{{ "/assets/img/browser.png" | prepend: site.baseurl }}" class="img-responsive">
            </div>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->